<h2> Pipe Component</h2>

<!-- date is inbuilt Piple that accepts 'shortDate' or 'fullDate' values -->
<p> Today's Date: <strong>{{d | date: (toggle ? 'shortDate': 'fullDate')}}</strong></p>
<button mat-raised-button color="primary" (click)="changeFormat()">Change Format</button>

<!-- multiplier is our own custom Pipe  -->
<br>
<br>
<label>Value: <input matInput [(ngModel)]="value" type="number" ></label>
<label>Boost Factor: <input matInput [(ngModel)]= "boost" type="number"></label>


<p> Your value after being boosted by {{boost}} is: <strong>{{value | multiplier: boost }}</strong>  </p>

