<h3> Hey there </h3>





{{questions}}

<!-- <form [formGroup]="formGroup">
    <div formArrayName="formArray">
        <div *ngFor="let question of questions; let i = index">
            <label [attr.for]="question.key"> {{question.label}}: </label>

            <ng-template [ngIf]=" question.controlType === 'textbox' ">
                <input  id="question.key" type="question.controltype" formControlName="i">
            </ng-template>
            
            <ng-template [ngIf]=" question.controlType === 'dropdown' ">
                <select formControlName="i">
                    <option *ngFor="let option of question.options" value="{{option.key}}">{{option.value}}</option>
                </select>
            </ng-template>
                
        </div>  
            
    </div>
</form> -->


