
 <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/angular-looping" routerLinkActive="active">Angular Looping </a>
    <a mat-tab-link routerLink="/data-binding" routerLinkActive="active">Data Binding </a>
    <a mat-tab-link routerLink="/decorator" routerLinkActive="active">Decorator </a>
    <a mat-tab-link routerLink="/dynamic-form" routerLinkActive="active">Dynamic Form </a>
    <a mat-tab-link routerLink="/forms" routerLinkActive="active"> Forms </a>
    <a mat-tab-link routerLink="/http" routerLinkActive="active"> HTTP </a>
    <a mat-tab-link routerLink="/parent" routerLinkActive="active"> Parent</a>
    <a mat-tab-link routerLink="/pipes" routerLinkActive="active"> Pipes</a>
    <a mat-tab-link routerLink="/two-way-binding" routerLinkActive="active"> Two-way Binding</a>
    
</nav>

<router-outlet></router-outlet>



