<nav class="navigation">
    <ul class="navigation_list">
        <li class="navigation_item"><a class="navigation_link" routerLink="/angular-looping" routerLinkActive="active">Angular Looping </a></li>
        <!-- <li><a routerLink="/component-interaction" routerLinkActive="active">Component Interaction Component </a></li> -->
        <li class="navigation_item"><a class="navigation_link" routerLink="/data-binding" routerLinkActive="active"> Data binding </a></li>
        <li class="navigation_item"><a class="navigation_link" routerLink="/decorator" routerLinkActive="active"> Decorator </a></li>
        <li class="navigation_item"><a class="navigation_link" routerLink="/parent" routerLinkActive="active">Parent </a></li>
        <li class="navigation_item"><a class="navigation_link" routerLink="/pipes" routerLinkActive="active">Pipes </a></li>
        <li class="navigation_item"><a class="navigation_link" routerLink="/two-way-binding" routerLinkActive="active">Two Way binding </a></li>
        
    </ul>
    
    <hr>
    
    <router-outlet></router-outlet>
    
    <hr>

</nav>

