
<!-- Two way data binding -->
<div class="binding">
    <button mat-mini-fab color="primary" (click) = "increase()"> + </button>
    <button mat-mini-fab color="primary" (click) = "decrease()"> - </button>
    <br>
    <p  [style.font-size.px]="fontSize"> This font resizes!!!</p>
</div>


<hr>

<pre>
    For Two way data binding (banana or shorthand syntax ):
        1. Make sure you keep property names in Input, Output decorators as - property1 and property1Change, size and sizeChange, etc.
        2. 
</pre>
